---
import { Image } from "astro:assets";
import MarbuIcon from '../assets/icons/logo.svg';
import SocialIcons from "./share/socialIcons.astro";
import Republica from '../assets/images/sponsors/republica_sin_bg.webp'
import Ud from '../assets/images/sponsors/logo_ud_blanco.webp'
import Emprender from '../assets/images/sponsors/logo_emprender_blanco.webp'
import Desarrollo from '../assets/images/sponsors/secretaria_desarrollo_blanco.webp'
---
<footer class="bg-linear-to-r from-gradiant-2 via-teal to-gradiant-1 text-white flex flex-col justify-center items-center">
    <div class="w-full flex justify-center items-center p-4 gap-5">
        <Image src={MarbuIcon} alt="Marbu Home Logo" class="w-30 h-30 mr-10"/>
        <div class="border-r-1 p-2">
            <span class="text-2xl font-bold">Menu</span>
            <ul class="text-sm">
                <li><a class="hover:underline" href="#about">Sobre Nosotros</a></li>
                <li><a class="hover:underline" href="#products">Productos</a></li>
                <li><a class="hover:underline" href="#contact">Contacto</a></li>
            </ul>
        </div>
        <div>
            <span class="text-2xl font-bold ">Siguenos</span>
            <SocialIcons  />
        </div>
     
    </div>
    <div class="flex justify-center items-center gap-6 border-t-1 w-fit p-5">
        <Image
            src={Republica}
            alt="Logo de la república de Colombia"
            class="h-16 w-auto object-contain"
        />
        <Image
            src={Desarrollo}
            alt="Logo de la secretaria de desarrollo de Bogotá"
            class="h-16 w-auto object-contain"
        />
        <Image
            src={Emprender}
            alt="Logo de fondo emprender"
            class="h-16 w-auto object-contain"
        />
         <Image
            src={Ud}
            alt="Logo de la universidad distrital Francisco José de Caldas "
            class="h-16 w-auto object-contain"
        />
    </div>
    <div class="w-fit mx-auto flex flex-col">
        <span>&copy; 2025 Marbu Home. Todos los derechos reservados.</span>
        <span class="text-center">Desarrollado por <a href="https://www.linkedin.com/in/drsecon/" target="_blank"><strong>@drescon</strong></a></span>
     </div>

</footer>